
Choose ONE of the HTML properties to edit and then change the CSS styles assigned to that property. Put your name in the comment next to the HTML element
*/

body{
	background-color:#999999; 
	font-family:Arial, Helvetica, sans-serif; 
	}/* style by 
	*/
	
.container {
	background:#ccffe6;
	border:5px dashed #555555;
	}/* style by 
	*/Burcu
	
.header{
	padding: 5px;
	background:#722929;
	
}/* style by 
	*/
	
.site-title{
	color:#453344;
	font-size:48px;
	font-family:"Comic Sans", cursive;
}/* style by Vicki W.
	*/
	
a, a:link, a:visited{
	color:#0033FF;
	text-decoration:underline;
	}/* style by 
	*/
	
a:hover, a:active, a:focus { 
	text-decoration: none;
	color:#fff;
	background-color:#880e4f;
	}/* style by 
	*/Alena A.
	
h2{
	font-family:Oswald, "Times New Roman", Times, serif;
	color:#425671;
}/* style by 
	*/yigit

h3{
	font-family:"Comic Sans MS", cursive;
	color:#555555;
}/* style by 
	*/

p{
	font-family:Tahoma, Geneva, sans-serif;
	color:#4d4d4d4;
}/* style by 
	*/
	
.footer{
	border-top:3px solid #111111;
	color:#a1a1a1;
}/* style by 
	*/
	
	ul li{
		list-style-type:circle;
		margin-left:40px;
	}
